@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
html,
body {
  height: 100%;
}
#root {
  height: 100vh;
}
#root .container {
  padding: 0 30px;
}
#root .container.header {
  animation: 1s ease-out 0s 1 slideInFromTop;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8080803b;
}
#root .container.header #logo {
  display: inline-block;
  width: 115px;
  height: 50px;
  cursor: pointer;
}
#root .container.header #logo img {
  max-width: 105px;
  width: 100%;
  height: 100%;
}
#root .container.header .user-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 70px;
}
#root .container.header .user-block #alerts {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
#root .container.header .user-block #alerts img {
  width: 100%;
  height: 100%;
}
#root .container.header .user-block #alerts .alerts-front {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#root .container.header .user-block #alerts:hover .alerts-front {
  display: inline;
}
#root .container.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-calc(40%);
  height: -webkit-calc(40%);
  height: calc(100% - 60px);
}
#root .container.main .error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .container.main .error-block img {
  width: 100px;
  height: 100px;
}
#root .container.main .error-block span.error-code {
  font-size: 60px;
}
#root .container.main .error-block span.error-title {
  font-size: 20px;
}
#root .container.toast-messages {
  position: absolute;
  bottom: 0;
  right: 0;
}
